
  <section>
            <div class="form-group">
              <h1 id="titulo_modal"> Prospecto</h1>
            </div>
            <div class="panel-group" id="accordion">
              <!--*************************************PROSPECTO*************************************-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Datos del Prospecto</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                      <label for="Linea_negocio">Linea de Negocio</label>
                      <input type="text" class="form-control" id="Linea_negocio" readonly>
                      <label for="tipo">Tipo</label>
                      <input type="text" class="form-control" id="tipo" readonly>
                      <label for="version">Versión</label>
                      <input type="text" class="form-control" id="version" readonly>
                      <label for="precio">Precio</label>
                      <input type="text" class="form-control" id="precio" readonly>
                      <label for="estado">Estado</label>
                      <input type="text" class="form-control" id="estados" readonly>
                  </div>
                </div>
              </div>
              <!--*************************************CONTENIDO*************************************-->

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Contenido</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                      <label for="modalidad">Modalidad</label>
                      <input type="text" class="form-control" id="modalidad" readonly>
                      <label for="certificado">Tipo de Certificado</label>
                      <input type="text" class="form-control" id="certificado" readonly>
                      <label for="horaPresencial">Horas Presenciales</label>
                      <input type="text" class="form-control" id="horaPresencial" readonly>
                      <label for="horaAutonoma">Horas Autonomas</label>
                      <input type="text" class="form-control" id="horaAutonoma" readonly>
                      <label for="justificacion">Justificación</label>
                      <textarea type="text" class="form-control" id="justificacion" readonly> </textarea>
                      <label for="objetivo">Objetivo</label>
                      <textarea type="text" class="form-control" id="objetivo" readonly> </textarea>
                      <label for="objetivoEspecifico">Objetivo Especifico</label>
                      <textarea  type="text" class="form-control" id="objetivoEspecifico" readonly></textarea>
                      <label for="metodologia">Metodologia</label>
                      <textarea  type="text" class="form-control" id="metodologia" readonly> </textarea>
                      <label for="descripcion">Descripcion</label>
                      <textarea  type="text" class="form-control" id="descripcion" readonly></textarea>
                      <label for="Estado">Estado</label>
                      <input  type="text" class="form-control" id="estadoContenido" readonly>

                  </div>
                </div>
              </div>
              <!--*************************************DIRIGIDO*************************************-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Dirigido a</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body" id="dirigidosModal">
                   
                  </div>
                </div>
              </div>
              <!--***********************************PERFIL DOCENTE**********************************-->
               <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Perfil Docente</a>
                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body" id="perfilDocente">
                  </div>
                </div>
              </div>
              <!--*******************************PERFIL ESTUDIANTE********************************-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Perfil Estudiante</a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body" id="perfilEstudiante"> 
                  </div>
                </div>
              </div>
              
            </div> 
  </section>