<div class="sidenav col-sm-3 " >
	<ul class="nav nav-pills nav-stacked">
		<li><%= link_to 'Prospecto', "/academico"%></li>
		<li><%= link_to 'Sondeo', "/academico/sondeo"%></li>
	</ul>
</div>
<%= stylesheet_link_tag "academico" %>
