<div class="content conts-sesion">
	<div id="formulario" class="container ">
		<form id="form-inicio" action="/menu" method="POST">
		  <h1> Inicio de sesión</h1>
		  <div class="form-group">
		    <label for="usuario">Usuario</label>
		    <input type="text" class="form-control requerido" id="user"  name="session[nombre]">
		  </div>
		  <div class="form-group">
		    <label for="pass">Contraseña:</label>
		    <input type="password" class="form-control requerido" id="pass" name="session[clave]">
		  </div>
		  <button id="registrar" type="button" class="btn btn-primary">Entrar</button>
		</form>
	</div>
	
</div>
