<div class="cabecera row">
	<div class="contenedor-logo-cerrar" >
		<div class="logo">
			<%= link_to image_tag('Menu/logo_educacion_continua_espol.png',class: "imagen-logo"),"http://ec.espol.edu.ec",target: :_blank %>
		</div>
		<div class="cerrar-sesion">
			<div id="cerrar-nombre">
				<h3 style="text-align: center;">Nombre Apellido</h3>
			 	<button type="button" class="btn btn-default" style="margin: 0% 20%;">Cerrar sesión</button>
			</div>
			 
		</div>
	</div>
	
	<div class="content-nombre">
		<h1>Comunicación</h1>	
		<!--a href="/menu" ><button type="button" class="btn">Regresar</button></a-->
	</div>
</div>